<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>shun</display-name>

	<servlet>
		<servlet-name>ksdownload</servlet-name>
		<servlet-class>com.download.FileDownloadChineseFileName</servlet-class>
	</servlet>
 
	<servlet-mapping>
		<servlet-name>ksdownload</servlet-name>
		<url-pattern>/ksdownload</url-pattern>
	</servlet-mapping>
	
	

	<servlet>
		<servlet-name>Ks</servlet-name>
		<servlet-class>com.download.Ks</servlet-class>
	</servlet>
 
	<servlet-mapping>
		<servlet-name>Ks</servlet-name>
		<url-pattern>/Ks</url-pattern>
	</servlet-mapping>
 
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>